<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Provider, Service and Categories</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style>
    body {
        margin: auto;
        width: 1160px;
        padding-top: 80px;
        font-family: "RobotoDraft", "Roboto", "Helvetica", sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    input {
        display: none;
    }

    label {
        display: block;
        padding: 8px 22px;
        margin: 0 0 1px 0;
        cursor: pointer;
        background: #000066;
        border-radius: 3px;
        color: #FFF;
        transition: ease .5s;
    }

    label:hover {
        background: #000033;
    }

    .content {
        background: #CCFFFF;
        padding: 10px 25px;
        border: 1px solid #00CCFF;
        margin: 0 0 1px 0;
        border-radius: 3px;
        display: flex;
    }

    input + label + .content {
        display: none;
    }

    input:checked + label + .content {
        display: block;
    }

    .definition {
        color: lightblue;
        margin-bottom: 3px;
        font-size: x-small;
        border: black;
    }

    .provider {
        text-align: center;
        background: azure;
    }

    .indicator {
        font-weight: normal;
        font-size: small;
        text-align: center;
        width: fit-content;
        float: right;
        padding: 5px;
        justify-content: center;

        border-radius: 5px;
        border: inset 1px;
        margin-left: 5px;
    }

    .indicators a {
        text-decoration: none
    }

    .level1 {
        display: flex;
        justify-content: space-between;
        background: #003366;
        color: white;
    }

    .level1:hover {
        background: #003333;
    }

    .level2 {
        display: flex;
        justify-content: space-between;
        background: #006666;
        color: white;
    }

    .level2:hover {
        background: #006633;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: 30%;
        background: beige;
        margin: 10px;
    }

    .card:hover {
        box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .container {
        padding: 2px 8px;
    }

    .title-bar {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .service-title {
        font-weight: bold;
        margin-top: 10px;
    }

    .service-description {
        color: darkslategrey;
        font-size: small;
    }

    .service-link {
    }

    .service-link:hover {
        box-shadow: 1px 1px 3px gray;
        border-radius: 5px;
    }

    .indicators {
        display: flex;
        justify-content: flex-end;
        padding: 8px 8px;
    }
</style>

<body>
{{- range $category := . -}}
    {{- $categoryClass := $category.Class -}}
    {{- $categoryID := $category.ID -}}
    {{- $categoryUID := (print $categoryClass "-" $categoryID)}}
    {{- $categoryName := index $category.Fields "ServiceCapability.Name"}}
    {{- $categoryDescription := index $category.Fields "ServiceCapability.Description"}}

    <input type="checkbox" id="{{$categoryUID}}"/>
    <label for="{{$categoryUID}}">{{$categoryName}}</label>

    <div class="content">
        <p>{{$categoryDescription}}</p>
        {{- range $key,$value := $category.CompositeSectionDefinitions -}}
            {{- if eq $key "TYPE_OF" -}}
                {{- range $capability := $value -}}
                    {{- $capabilityClass := $capability.Class -}}
                    {{- $capabilityID := $capability.ID -}}
                    {{- $capabilityUID := (printf "%s-%s" $capabilityClass $capabilityID)}}
                    {{- $capabilityName := index $capability.Fields "ServiceCategory.Name" -}}
                    {{- $capabilityDescription := index $capability.Fields "ServiceCategory.Description" -}}
                    <input type="checkbox" id="{{$capabilityUID}}"/>
                    <label for="{{$capabilityUID}}" class="level1">
                        <div>
                            <div class="definition">{{$capabilityClass}}</div>
                            <span>{{$capabilityName}}</span>
                        </div>
                    </label>

                    <div class="content">
                        <p>{{$capabilityDescription}}</p>

                        <div class="card-container">
                            {{- range $key,$value := $capability.CompositeSectionDefinitions -}}
                                {{- if eq $key "PROVIDES" -}}
                                    {{- range $service := $value -}}
                                        {{- $serviceClass := $service.Class -}}
                                        {{- $serviceID := $service.ID -}}
                                        {{- $serviceUID := (printf "%s-%s" $serviceClass $serviceID)}}
                                        {{- $serviceName := index $service.Fields "Service.Name" -}}
                                        {{- $serviceDescription := index $service.Fields "Service.Description" -}}
                                        {{- $serviceLink := index $service.Fields "Service.Link" -}}
                                        {{- $providerName := index $service.Fields "ServiceProvider.Name" -}}
                                        {{- $tenancyName := index $service.Fields "ServiceTenancy.Name" -}}
                                        {{- $tenancyBackgroundColour := index $service.Fields "ServiceTenancy.BackgroundColour" -}}
                                        {{- $tenancyFontColour := index $service.Fields "ServiceTenancy.FontColour" -}}

                                        <div class="card">
                                            <div class="container">
                                                <div class="title-bar">

                                                    <div class="service-title">{{$serviceName}}</div>
                                                    <div class="indicator provider">{{$providerName}}</div>
                                                </div>
                                                <div class="service-description">
                                                    {{$serviceDescription | markdown}}
                                                </div>
                                            </div>
                                            <div class="indicators">
                                                <div class="material-icons service-link"><a href="{{$serviceLink}}" target="_blank">link</a></div>
                                                <div class="indicator" style="background: {{$tenancyBackgroundColour}}; color: {{$tenancyFontColour}}">{{$tenancyName}}</div>
                                            </div>
                                        </div>

                                    {{end -}}
                                {{- end -}}
                            {{- end -}}

                        </div>
                    </div>
                {{end -}}
            {{- end -}}
        {{- end -}}
    </div>
{{end}}

</body>

</html>