<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Provider, Service and Categories</title>
</head>

<style>
    body {
        margin: auto;
        width: 1160px;
        padding-top: 80px;
        font-family: "RobotoDraft", "Roboto", "Helvetica", sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    input {
        display: none;
    }

    label {
        display: block;
        padding: 8px 22px;
        margin: 0 0 1px 0;
        cursor: pointer;
        background: #000066;
        border-radius: 3px;
        color: #FFF;
        transition: ease .5s;
    }

    label:hover {
        background: #000033;
    }

    .content {
        background: #CCFFFF;
        padding: 10px 25px;
        border: 1px solid #00CCFF;
        margin: 0 0 1px 0;
        border-radius: 3px;
    }

    input + label + .content {
        display: none;
    }

    input:checked + label + .content {
        display: block;
    }

    .definition {
        color: lightblue;
        margin-bottom: 3px;
        font-size: x-small;
        border: black;
    }

    .provider {
        text-align: center;
    }

    .indicator {
        border: inset 1px;
        font-weight: normal;
        font-size: small;
        text-align: center;
        width: fit-content;
        float: right;
        padding: 5px;
        justify-content: center;
    }

    .level1 {
        display: flex;
        justify-content: space-between;
        background: #003366;
        color: white;
    }

    .level1:hover {
        background: #003333;
    }

    .level2 {
        display: flex;
        justify-content: space-between;
        background: #006666;
        color: white;
    }

    .level2:hover {
        background: #006633;
    }

</style>

<body>
{{- range $category := . -}}
    {{- $categoryClass := $category.Class -}}
    {{- $categoryID := $category.ID -}}
    {{- $categoryUID := (print $categoryClass "-" $categoryID)}}
    {{- $categoryName := index $category.Fields "Category.Name"}}
    {{- $categoryDescription := index $category.Fields "Category.Description"}}

    <input type="checkbox" id="{{$categoryUID}}"/>
    <label for="{{$categoryUID}}">{{$categoryName}}</label>

    <div class="content">
        <p>{{$categoryDescription}}</p>
        {{- range $key,$value := $category.CompositeSectionDefinitions -}}
            {{- if eq $key "TYPE_OF" -}}
                {{- range $capability := $value -}}
                    {{- $capabilityClass := $capability.Class -}}
                    {{- $capabilityID := $capability.ID -}}
                    {{- $capabilityUID := (printf "%s-%s" $capabilityClass $capabilityID)}}
                    {{- $capabilityName := index $capability.Fields "Capability.Name" -}}
                    {{- $capabilityDescription := index $capability.Fields "Capability.Description" -}}
                    <input type="checkbox" id="{{$capabilityUID}}"/>
                    <label for="{{$capabilityUID}}" class="level1">
                        <div>
                            <div class="definition">{{$capabilityClass}}</div>
                            <span>{{$capabilityName}}</span>
                        </div>
                    </label>

                    <div class="content">
                        <p>{{$capabilityDescription}}</p>

                        {{- range $key,$value := $capability.CompositeSectionDefinitions -}}
                            {{- if eq $key "PROVIDES" -}}
                                {{- range $service := $value -}}
                                    {{- $serviceClass := $service.Class -}}
                                    {{- $serviceID := $service.ID -}}
                                    {{- $serviceUID := (printf "%s-%s" $serviceClass $serviceID)}}
                                    {{- $serviceName := index $service.Fields "Service.Name" -}}
                                    {{- $serviceDescription := index $service.Fields "Service.Description" -}}
                                    {{- $serviceLink := index $service.Fields "Service.Link" -}}
                                    {{- $providerName := index $service.Fields "Provider.Name" -}}
                                    {{- $tenancyName := index $service.Fields "Tenancy.Name" -}}
                                    {{- $tenancyBackgroundColour := index $service.Fields "Tenancy.BackgroundColour" -}}
                                    {{- $tenancyFontColour := index $service.Fields "Tenancy.FontColour" -}}

                                    <input type="checkbox" id="{{$serviceUID}}"/>
                                    <label for="{{$serviceUID}}" class="level2">
                                        <div>
                                            <div class="definition">{{$serviceClass}}</div>
                                            <span>{{$serviceName}}</span>
                                        </div>
                                        <div>
                                            <div class="definition provider">{{$providerName}}</div>
                                            <div class="indicator"
                                                 style="background: {{$tenancyBackgroundColour}}; color: {{$tenancyFontColour}}">{{$tenancyName}}</div>
                                        </div>
                                    </label>

                                    <div class="content">
                                        <p>{{$serviceDescription}}</p>
                                        <p>Refer to <a href="{{$serviceLink}}" target="_blank">{{$serviceLink}} for further information</a></p>
                                    </div>
                                {{end -}}
                            {{- end -}}
                        {{- end -}}
                    </div>
                {{end -}}
            {{- end -}}
        {{- end -}}
    </div>
{{end}}

</body>

</html>